main,
.header,
.footer {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

p {
  font-family: "Roboto", sans-serif;
}


html {
  scroll-behavior: smooth;
}